#topSide{
  text-align: center;
  float:center;
  min-width: 320px;
  margin-top: 5rem;
  display: flexbox;
}
h1{
  font-size: 3rem;
  color:white;
  text-shadow: 2.4px 1.3px rgba(96, 93, 93, 0.516);
  text-shadow: 1.5px 4px rgba(96, 93, 93, 0.516);

}
#OldMan{
  animation: shutter-in-top 2s ease 0s 1 normal forwards;

}

#mainSide{
  border:5px solid transparent;
  padding:30px;
  min-width: 320px;
  display:flex;
  text-align:left;
  place-content: center;
  float:center;
  scroll-snap-type: x proximity;
  display: flexbox;
  height: auto;
}
#bottomSide{
  text-align: center;
  float:center;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right bottom, #dab2ff, #76c1ff, #00caf9, #00cab9, #61bf6c);
      background-attachment: fixed;
  margin:0;
  overflow:hidden;
} 





. #cardsBox{
    display: grid;
    place-content: center;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  .card {
    min-width: 320px;
    display: flexbox;
    padding: 35px;
    margin: 5%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(127, 124, 124, 0.149);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(250px);
    transition: all .3s ease-out;
    height: auto;    
    animation: myAnim 2s ease 0s 1 normal forwards;

  }
  .card-text {
    
    font-size: 1.1rem;
    text-shadow: 2.4px 1.3px rgba(96, 93, 93, 0.516);
  }
  .card-footer {
    float: center;
    text-align: center;
    display: inline;
    margin-left: 65%;
    text-shadow: 2.4px 1.3px rgba(96, 93, 93, 0.516);

  }
  .card:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 7px 50px 10px #000000aa;
    filter: brightness(1.1);
    transition: all .3s ease-out;
}
.card p{
    float:left;
    align-items: center;
    font-size: 3.3rem;
    display: flex;
    color: rgba(255, 255, 255, 0.815);
}


@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@keyframes shutter-in-top {
			
  0% {
    transform:rotateX(-100deg);
    transform-origin:top;
    opacity:0;
  }
  100% {
    transform:rotateX(0deg);
    transform-origin:top;
    opacity:1;
  }
}


